*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  min-height: 100%;
  font-family: Dekko;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  
}

.loader {
  display: block;
  margin: 30px auto;
}
h2,
h3,
p {
  margin-bottom: 1em;
}
.img{
  height: 200px;
}
li {
  list-style: none;
  font-size: 32px;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

button {
background: linear-gradient(148deg, rgba(0,0,0,1) 0%, rgba(9,13,57,1) 30%, rgba(25,40,195,1) 100%);
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5em 1.25em;
  cursor: pointer;
  border-radius: 0.3rem;
  border: none;
  transition: 1s;
  
  
}
.button:hover{
  background-color: rgb(79, 85, 99);
 
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  max-width: 100%;
  margin: 1rem 0;
}

form input {
  padding: 0.5rem;
  font-size: 1rem;
  font-family: inherit;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

/* Navbar */
.navbar {
  padding: 0 10%;
  margin: 0 auto;
  min-height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(0,0,0);
background: linear-gradient(148deg, rgba(0,0,0,1) 0%, rgba(9,13,57,1) 30%, rgba(25,40,195,1) 100%);
  color: white;
  
}

.navbar ul {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

header {
  min-width: 100%;
  background-color: white;
}
form{
  width: 50%;
  margin: 20px auto;
}
/* Container */
.container {
  width: 95%;
  margin: 2rem auto;
  min-height: 100%;
}

.container.large {
  width: min(90%, 72rem);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
}

.card {
 display: flex;
 gap: 20px;
 border: rgb(72, 72, 72) solid 2px;
 font-family: "Dekko", cursive;
  text-transform: uppercase;
  
  letter-spacing: 0.2rem;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #fff;
  background-size: 12px, 100%;
  /* solid border */
  border: 0.4rem solid #000;
 font-weight: 800;
 transition: all 0.5s;
 box-shadow: 10px 10px 0px black;
 margin: 1%;
 
}

.card p {
  padding: 1%;
  font-size: 22px;
}
.card h1{
  letter-spacing: 3px;
  text-shadow: 1px 1px 0px rgb(71, 71, 181);
}
.title {
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  
}



.card:hover {
  box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.541);
  transition: all 0.2s ease-in;
}



.hero__details-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  line-height: 1.6;
}

.hero__details-container img {
  flex: 1;
  max-width: 100%;
  max-height: 36rem;
}

.hero__details {
  flex: 1;
  min-width: 35ch;
}

.hero__details li {
  list-style: disc;
  margin-left: 1.5rem;
  font-size: 20px;
  text-decoration: underline;
}
.hero__details p, .hero__details h4{
  font-size: 22px;
}
.large{
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #fff;
  background-size: 12px, 100%;
  border: 0.4rem solid #000;
box-shadow: 10px 10px 0px black;
padding: 30px;
font-weight: 800;
}
@media (max-width: 1024px) {
  .card p {
    font-size: 16px;
  }
  .card h1{
    font-size: 26px;
  }
  .grid{
    grid-template-columns: repeat(1, 1fr);
  }
  img{
    height: 190px;
  }
}
@media (max-width: 768px) {
  .card p {
    font-size: 14px;
  }
  .card h1, .title h1{
    font-size: 24px;
  }
  .img{
    height: 100px;
  }
  img{
    height: 180px;
  }
}
@media (max-width: 576px) {
  .card p {
    font-size: 12px;
  }
  .card h1, .title h1{
    font-size: 20px;
  }
  img{
    height: 170px;
  }
}
@media (max-width: 480px) {
  .card p {
    font-size: 10px;
  }
  .card h1, .title h1 {
    font-size: 18px;
  }
  img{
    height: 150px;
  }
}

