*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  min-height: 100%;
  font-family: Anton
}

body {
  min-height: 100vh;
}

h2,
h3,
p {
  margin-bottom: 1em;
}
.img{
  height: 200px;
}
li {
  list-style: none;
  font-size: 32px;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: rgb(9, 25, 62);
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5em 1.25em;
  cursor: pointer;
  border-radius: 0.3rem;
  border: none;
  transition: 1s;
}
.button:hover{
  background-color: rgb(79, 85, 99);
 
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  max-width: 100%;
  margin: 1rem 0;
}

form input {
  padding: 0.5rem;
  font-size: 1rem;
  font-family: inherit;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

/* Navbar */
.navbar {
  padding: 0 10%;
  margin: 0 auto;
  min-height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(10, 10, 62);
  color: white;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

header {
  min-width: 100%;
  background-color: white;
}
form{
  width: 50%;
  margin: 20px auto;
}
/* Container */
.container {
  width: 95%;
  margin: 2rem auto;
  min-height: 100%;
}

.container.large {
  width: min(90%, 72rem);
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
 display: flex;
 gap: 20px;
 border: rgb(72, 72, 72) solid 2px;
 font-family: Anton;
 transition: all 0.2s ease-in;
}
.card p {
  padding: 50px;
}
.card h1{
  letter-spacing: 3px;
  text-shadow: 1px 1px 0px rgb(71, 71, 181);
}
.title {
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-weight: 400;
  letter-spacing: 2px;
  
}



.card:hover {
  box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.541);
  transition: all 0.2s ease-in;
}



.hero__details-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  line-height: 1.6;
}

.hero__details-container img {
  flex: 1;
  max-width: 100%;
  max-height: 36rem;
}

.hero__details {
  flex: 1;
  min-width: 35ch;
}

.hero__details li {
  list-style: disc;
  margin-left: 1.5rem;
  font-size: 20px;
}
